@layer variables, base, components, responsive;

@import url("variables.css");
@import url("base.css");

@import url("components/header.css");
@import url("components/buttons.css");
@import url("components/sidebar.css");
@import url("components/cards.css");
@import url("components/buttons.css");
@import url("components/forms.css");
@import url("components/modals.css");
@import url("components/pos-grid.css");
@import url("components/tables.css");
@import url("components/purchase-list.css");
@import url("components/toast.css");
@import url("components/utilities.css");

@import url("responsive.css");
